mixin projectCard(title, links, image, description, tags)
    .column
        .card
            .card-header
                .card-header-title.is-family-secondary= title
                if links
                    each link in links
                        a.card-header-icon(href= link.href, target="_blank", aria-label= link.ariaLabel)
                            span.icon
                                i(class= link.icon)
            if image
                .card-image
                    figure.image
                        img(src= image.src, alt= image.alt)
            .card-content
                .content
                    p= description
            if tags
                .card-footer
                    .card-footer-item.is-justify-content-left
                        .tags
                            each tag in tags
                                span.tag= tag
