html(data-theme="dark" lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Jura:wght@400&family=Comfortaa:wght@400&display=swap" rel="stylesheet" type="text/css")
        link(rel="stylesheet", href="./scss/404.scss")
        link(rel="shortcut icon" type="image/gif" href="icons/favicon.gif")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.5/cash.min.js" type="text/javascript" defer)
        script(src="./js/404.js" type="text/javascript" defer)
        title 404 - Not Found
    body
        a(href="/")
            h1.txt 404
        p.txt Not all who wander are lost
        p.txt but you sure are...
