html,
body {
  // display: flex;
  // flex-direction: column;
  font-family: "JetBrains Mono", "Menlo", monospace;
  font-weight: 500;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-size: 100%;

}
// body.dark {
//   background-color: $dark;
//   color: $light;
// }

section > * {
  @include desktop {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

header {
  @include desktop {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  // @include mobile {
  //   margin-left: 2rem;
  //   margin-right: 2rem;
  // }
}

abbr {
  cursor: help;
  font-weight: 600;
}

section > p {
  text-indent: 2ch;
}

.contrib-graph {
  @include tablet {
    padding-right: 1.5rem;
  }
  @include mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.has-loader {
  @include loader;
}

.hero {
  margin-bottom: 2rem;
}

.gravatar {
  padding: 1rem;
  transform: scale(1);
  transition: all 0.2s $easing;
  &:hover {
    transform: scale(1.1);
    transition: all 0.2s $easing;
  }
}

#main,
#projects,
#PS {
  margin: 2rem;
}

#topTags a {
  text-decoration: none;
}

.panel {
  @include desktop {
    margin-top: 0.5rem;
  }
  .panel-heading {
    background-color: $light;
    color: $black;
    transition: all 0.2s $easing;
  }
  &:hover > .panel-heading {
    background-color: $primary;
    color: $light;
    transition: all 0.2s $easing;
  }
  img {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: $radius-large;
  }
}

.footer {
  a {
    color: $black;
    transition: color 0.1s $easing;
    &:hover {
      color: $link;
      transition: color 0.1s $easing;
    }
  }
}
