html, body {
	font-family: "IBM Plex Mono", "Menlo", monospace;
	scroll-behavior: smooth;
	font-weight: 400;
}

@include mobile {
	.contrib-graph {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.has-loader {
	@include loader;
}

.hero {
	margin-bottom: 2rem;
}

.gravatar {
	padding: 1rem;
	transform: scale(1.0);
	transition: all 0.2s ease;
	&:hover {
		transform: scale(1.1);
		transition: all 0.2s ease;
	}
}

::-webkit-scrollbar {
	width: 0.33rem;
	&-track {
		background: $dark;
	}
	&-thumb {
		background: darken($light, 43%);
		border-radius: 0.25rem;
		&:hover {
			color: $primary;
		}
	}
}

#main {
	padding: 2rem;
}

.sticky-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer {
	height: 2em;
	a {
	color: $black;
	transition: color 0.1s $easing;
		&:hover {
			color: $link;
			transition: color 0.1s $easing;
		}
	}
}
